.team {
    margin-top: 150px;
    padding: 10px 70px;
}
.team .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.team .title  button{
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #384bff;
    color: white;
}
.CardAbout {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.div-logo-res {
    display: none;
}
.div-logo-res img {
    width: 170px;
}
.text-line {
    text-align: center;
    margin: 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-line::after {
    content: "";
    width: 300px;
    height: 1px;
    margin-left: 25px;
    background-color: #d8e0ff;
}
.text-line::before {
    content: "";
    width: 300px;
    height: 1px;
    margin-right: 25px;
    background-color: #d8e0ff;
}
.div-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.div-logo img {
width: 150px;
height: 50px;
}
@media(max-width : 700px) {
    .CardAbout {
        justify-content: center;
    }
    .div-logo {
        display: none;
    }
    .div-logo-res {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}